*{
    font-family:"Roboto", Arial, sans-serif;
    font-style: normal;
    margin:0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body,html{
    height: 100%;
}

body{
    min-width: 320px;
    box-sizing: border-box;
}

button{
    background-color: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    
    cursor: pointer;
}
fieldset, img{
    border:0;
}
a {
    text-decoration: 0;
}
.blind{
    overflow:hidden;
    position:absolute;
    clip:rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
svg{
    display: bl;
}

/* ------ HEADER ------ */

.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 70px;
    padding:15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    z-index: 1000;
}

.hidden {
    display: none;
}

.header_logo{
    display: flex;
    align-items: center;
}
.header_logo img{
    max-width: 150px;
    margin-left: 15px;
}
.header i{
    padding:0 8px;
    margin-left: .5rem;
    font-size: 1.1rem;
    cursor: pointer;
    color: #606060;
}
.header .search{
    border-radius: 65%;
}
.header .search form{
    height: 35px;
    display: flex;
    border: 2px solid #ddd;
}
.search .search-inner{
    display: flex;
    align-items: center;
    padding: 5px 15px;
}

.search .search-inner img{
    display: flex;
    height: 12px;
    margin-right: 10px;
}
.search input{
    width: 500px;
    height: 100%;
    border: none;
    outline: none;
}

.search input::placeholder{
    padding-left: .6rem;
    color: #888;
}
.search-inner button{
    background: transparent;
    border:none;
    cursor: pointer;
}

.search-inner button:active{
    opacity: .8
}

/* ------ MAIN ------ */
.YtBody{
    margin-top: 70px;
    display: flex;
    overflow: hidden;
    height: calc(100vh -70px);
}
/* SideBar Style */
.sidebar{
    display: block;
    width: 240px;
    height: calc(100vh - 70px);
    background-color: #fff;
    box-sizing: border-box;
    position: fixed; 
    overflow-y: auto;
    top: 70px;
    left: 0;
    transition: left 0.3s ease;
}

.sidebar.hidden {
    left: -240px;
}
.sidebar_nav{
    padding: 10px;
}
.nav-item{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
.nav-item i {
    font-size: 20px;
    margin-right: 10px;
}
.nav-item span{
    margin-left: 15px;
}
.nav-item:hover{
    background: #bdbdbd;
}

.sub-menu {
    display: none;
    padding-left: 20px;
}
.nav-item.items {
    padding-left: 20px;
}
.nav-item.items:hover {
    background-color: #e0e0e0;
}

hr{
    height: 1px;
    background: #bdbdbd;
}

.sidebar::-webkit-scrollbar{
    display:none;
}

i{
    color:rgb(96,96,96);
}


/*--Content Selection---*/
.video_selection{
    width: calc(100% - 240px);;
    height: 100%;
    padding: 15px;
    overflow-y: scroll;
    border-top: 1px solid #ddd;
    background: #f9f9f9; 
    margin-left: 300px;
}
.video_selection.moved {
    margin-left: auto;
}

.sidebar.hidden ~ .video_selection .main-wrap {
	width: 100%;
	margin-left: 20px;
}

.sidebar.hidden ~ .video_selection .recommendboxes {
	margin-left: 500px;
}

/*  */
.recommendboxes{
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    margin-bottom: 10px;
    color:rgb(3,3,3);
    margin-left: 20px;
}
.recommendboxes button.box{
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ddd;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;
}

.container .video{
    width: calc(33.3333% - 13.33px);
    cursor: pointer;
    box-sizing: border-box;
    transition: border-color 0.3s;
    border: 1px solid #fff;
}
.video:hover{
    border: 1px solid #b8b8b8;
}

.video .thumbnail {
    width: 100%;
}

.video .thumbnail img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    
}
.details{
    display: flex;
    margin-top: 10px;
}
.logo img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}
.title{
    display: flex;
    flex-direction: column;
}
.title h2{
    font-size: 14px;
    margin-bottom: 6px;
    line-height: 18px;
    color: rgb(3,3,3);
}
.title a, span{
    font-size: 14px;
    text-decoration: none;
    color:rgb(96,96,96);
}

@media screen and (max-width: 1024px) {
    .video {
        flex: 1 1 calc(50% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .video {
        flex: 1 1 100%;
    }
}



/*  */
.top20container {
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 586px) {
    .top20container{
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
}

.top20container .top20title {
    display: block;
    position: relative;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 20px;
    z-index: 2;
}

.top20container .top20_box {
    width: 100%;
    z-index: 3;
}

.swiper-container{ /*  */
    width: 100%;
    margin-bottom: 100px; 
}

.top20container .top20_box .swiper-wrapper {
    margin-top: 20px;
    z-index: 4;
    overflow: visible;
    left: 13px;
}

.swiper-wrapper .swiper-slide {
	cursor: pointer;
	z-index: 5;
}

.top20_box .swiper-slide img { /*  */
    width: 213px;
    height: 306px;
    border-radius: 13px;
    border: 1px solid rgba(115, 158, 187, 0.4);
    overflow: hidden;
    z-index: 6;
}

.top20_box .swiper-slide img.crop {
    width: 213px;
    height: 306px;
    object-fit: cover; /* 크롭 이미지 맞춤 */
}

.top20_box .swiper-slide .r_tilte {
    display: flex;
    align-items: start;
    font-size: 16px;
    font-weight: 500;
    color: #666;
    padding-top: 4px;
    padding-left: 12px;
}

.swiper-wrapper .rank {
	color: black;
    position: relative;
    font-size: 55px;
    font-weight: 900;
    z-index: 12;
    margin-left: -10px;
    top: -55px;
	right: 5px;
	-webkit-text-stroke: 2px white;
	margin-bottom: -43px;
}

.rank {
	font-style: oblique;
	letter-spacing: -5px;
}

.swiper-pagination {
    display: none;
    padding: 0;
}

.swiper-prev,
.swiper-next {
	position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    top: 150px;
    overflow: visible;
    /* 추가된 부분 */
    opacity: 0; /* 버튼을 숨기기 위한 초기 상태 */
    pointer-events: none; /* 보이지 않는 상태에서는 클릭을 막기 */
}

.swiper-prev {
	left: 0px;
    z-index: 10;
}

.swiper-next {
	right: 1px;
    z-index: 10;
}

.swiper-prev .material-symbols-outlined {
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    position: relative;
    top: 5px;
}

.swiper-next .material-symbols-outlined {
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    position: relative;
    top: 5px;
}

.swiper-prev .material-symbols-outlined,
.swiper-next .material-symbols-outlined {
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    position: relative;
    top: 5px;
    user-select: none;
    text-align: center;
    pointer-events: none;
}

/* 슬라이드 요소에 마우스를 올렸을 때 버튼 표시 */
.top20_box:hover .swiper-prev,
.top20_box:hover .swiper-next {
    opacity: 1; /* 버튼을 보이게 하기 위한 상태 */
    pointer-events: auto; /* 클릭 가능하도록 설정 */
}

.bot_title {
	width: 100%;
	height: 60px;
}

.title_btn_a, .title_btn_b {
	font-family: fantasy;
	font-size: 15px;
    font-weight: 800;
	background-color: #f1f2f4; /* 기본 배경색 */
	color: black; /* 기본 글자 색 */
	cursor: pointer;
	transition: background-color 0.3s;
}

.title_btn_a:hover {
	background-color: #dcdee1;
}

.title_btn_b:hover {
	background-color: #dcdee1;
}

.title_btn_a {
	width: 95px;
    height: 42px;
    border-radius: 19px;
}

.title_btn_b {
	width: 85px;
    height: 42px;
    border-radius: 19px;
}

.title_btn_a.selected, .title_btn_b.selected {
	background-color: #2f2f2f; /* 선택된 배경색 */
	color: #f1f2f4; /* 선택된 글자 색 */
	font-weight: 900;
}


.title_btn:active {
	background-color: #2f5a91; /* 클릭 시 더 어두운 파란색 배경 */
	color: #ffffff; /* 클릭 시 흰색 글자 */
}


/*  */
.bot_content{ /* container */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;
}

.bot_content .video{
    width: calc(33.3333% - 13.33px);
    cursor: pointer;
    box-sizing: border-box;
    transition: border-color 0.3s;
    border: 1px solid #fff;
}

.video .thumbnail {
    width: 100%;
}

/* rgb(52, 51, 50)rgb(52, 51, 50)rgb(37, 35, 33)
.video .thumbnail img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
} */

.details{
    display: flex;
    margin-top: 10px;
}

.logo img{
    height: 40px;
    width: 40px;
    border: 1px solid  rgba(115, 158, 187, 0.4);
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.title{
    display: flex;
    flex-direction: column;
}

.title h2{
    font-size: 14px;
    margin-bottom: 6px;
    line-height: 18px;
    color: rgb(3,3,3);
}

.title a, span{
    font-size: 14px;
    text-decoration: none;
    color:rgb(96,96,96);
}

.thumbnail-container {
    text-align: center;
    margin-top: 50px;
}

.thumbnail {
    cursor: pointer;
    width: 300px;
    height: auto;
}


